<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sono-Bold.ttf</string>
		<string>Edu-Bold.ttf</string>
		<string>Mansalva-Regular.ttf</string>
		<string>Kalam-Bold.ttf</string>
		<string>Kalam-Regular.ttf</string>
		<string>Kalam-Light.ttf</string>
		<string>Bobby Rough Soft.ttf</string>
		<string>Baloo2-SemiBold.ttf</string>
		<string>Baloo2-Regular.ttf</string>
		<string>AdigianaUI.ttf</string>
		<string>KoHo-Bold.ttf</string>
		<string>KoHo-SemiBold.ttf</string>
		<string>KoHo-Medium.ttf</string>
		<string>KoHo-Regular.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Vollkorn-Bold.ttf</string>
		<string>Vollkorn-SemiBold.ttf</string>
		<string>Vollkorn-Medium.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
